#menuprincipal {
width: 96%;
height: 50px;
padding: 0% 2%;
background-color: #79BFF2;
border-top: 1px solid #600960;
border-bottom: 1px solid #5d0960;
}
#menuprincipal > div {
width: 960px;
margin: 0px auto;
}
#menuprincipal li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 2px auto;
    }
    #menuprincipal li:hover {
    background-color: #E3ECF2;
    }
    #menuprincipal a {
    font: bold 16px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
    }
    main {
        width: 96%;
        padding: 2%;
        }
        main > div {
        width: 960px;
        margin: 0px auto;
        }